@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	/*background-image: ../images/bg-intro-desktop.png;*/
	background-color: hsl(0, 100%, 74%);
	background-image: url("bg-intro-desktop.png");
	color: white;
	font-family: 'poppins', sans-serif;
	overflow: hidden;
}
.flex-container{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	max-width: 1440;
	min-height: 100vh;
	padding: 20px;
}

h1  {
	font-size: 40px;
	line-height: 50px;
}

p {
	font-size: 15px;
	opacity: 0.8;
}

.box {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 6px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
	padding: 20px;
	text-align: center;
}

.box p {
	margin: 0;
}

.box-blue {
	background-color: hsl(248, 32%, 49%);
}

.form-control {
	margin-bottom: 20px;
}
.form-control small {
	text-align: center;
}


input {
	border-radius: 5px;
	border: 1.3px solid hsl(246, 25%, 77%);
	display: block;
	font-weight: 600px;
	font-size: 14px;
	padding: 15px 25px;
	width: 100%;
}

input:focus {
	border: 1.3px solid hsl(248, 32%, 49%);
	outline: none;
}

.item {
	flex: 1;
	padding: 0 20px;
}

button {
	background-color: hsl(154, 59%, 51%);
	border-radius: 5px;
	border: 2px solid hsl(154, 59%, 45%);
	box-shadow: 0 2px hsl(154, 59%, 45%);
	color: white;
	cursor: pointer;
	display: block;
	font-family: 'poppins', sans-serif;
	font-size: 14px;
	font-weight: 500;
	padding: 15px 25px;
	width: 100%;
}

button: focus {
	outline: none;

}

button : active {
	box-shadow: 0 0 hsl(154, 59%, 45%);
	transform: translateY(2px);
}

small {
	display: block;
	color: #aaa;
	font-size: 11px;
	font-weight: 500px;
	margin-top: 15px;
}

small a {
	color: hsl(246, 25%, 77%)
	font-weight: 600;
	text-decoration: none;
}