body {
	/*background-image: ../images/bg-intro-desktop.png;*/
	background-image: url("bg-intro-desktop.png");
	border: 1px solid black;
}
.flex-container{
	display: flex;
	background-color: hsl(0, 100%, 74%);
}
.item{
	flex-direction: column;
	width: 600px;
}

.left {
	
			}
.right {
	
}
.purple {
	border: 1px solid black;
}
input {
	margin-bottom: 20px;
	width: 200px;
	height: 20px;
}
.bbutton{
	height: 25px;
	width: 210px;
}
h6 {
	text-align: cneer;
	height: 25px;
	width: 210px;
}